# Firebase credentials. Get these from your Firebase project settings.
# https://console.firebase.google.com/ -> Project Settings -> General -> Your apps -> SDK setup and configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyC5ucImm-HKI0Hs9hvzOzmMmn5w0XPyVWI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="we-be-live.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="we-be-live"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="we-be-live.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="415342148606"
NEXT_PUBLIC_FIREBASE_APP_ID="1:415342148606:web:3c33dbe9b6a3070fba5eaf"

# Mux credentials. Replace with your actual Mux stream key.
# You can find this in your Mux dashboard.
NEXT_PUBLIC_MUX_STREAM_KEY="your-mux-stream-key"
NEXT_PUBLIC_MUX_RTMP_URL="rtmps://global-live.mux.com:443/app"